.sectionLoading{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;

    &__svg{
        position: fixed;
        width: 358px;
        height: 358px;
        scale: 2.5;

        & circle{
            transform: translate(29px, -29px) rotate(-90deg);
            transform-origin: center center;
            //totalLength:942.0968627929688
            stroke-dasharray: 942.0968627929688;
            stroke-dashoffset: 942.0968627929688;

        }
    }

    &__img{
        position: fixed;
        width: auto;
        scale: 2;
        
        background-size: cover;
    }
}