.projectPage__navigation{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;

    & .navigationItem {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;

        &:nth-of-type(2){
            margin: 0 16px;

        }
        
        &__link{
            height: 66px;

            &__p{
                text-transform: capitalize;
                padding: 0 16px;
                &::before{
                    content: none;
                }
            }
        }
    }
}