html,body {
  font-family: $family-text-body;
  font-size: $size-text;
  color: $c-text;
  background-color: $c-bg-d;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden

}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-family: $family-text-title;
  
}

a{
  color: snow;
  text-decoration: none;
}
