<div class="creatorDetailsWrapper">
    <a class="creatorDetailsWrapper__link" href="">
        <img class="creatorDetails__img" src="{{data.optionPicto}}" alt="" width='10%'> 
    <p>{{data.mainCreator}}  <span>-</span>  {{data.optionName}}</p>
    </a>
</div>