<nav class="projectPage__navigation">
    <div class="navigationItem sectionProjet__filterBar">
        <a class="navigationItem__link class3" href=""><img src="assets/images/backArrow.svg" alt="fleche retour"></a>
    </div>
    <div class="navigationItem middle sectionProjet__filterBar">
        <a class="navigationItem__link2 active" href="#section1" data-option="option1" ><p class="navigationItem__link__p">Projet</p></a>
        <a class="navigationItem__link2 class1" href="#section2" data-option="option2"><p class="navigationItem__link__p">Images</p></a>
        <a class="navigationItem__link2" href="#section3" data-option="option3"><p class="navigationItem__link__p">Description</p></a>
        <a class="navigationItem__link2" href="#section4" data-option="option3"><p class="navigationItem__link__p">Video</p></a>
        <a class="navigationItem__link2 class2" href="#section5" data-option="option7"><p class="navigationItem__link__p">Crédits</p></a>
    </div>
    <div class="navigationItem sectionProjet__filterBar">
        <a class="navigationItem__link class3" href="#"><img src="assets/images/like.svg" alt="picto coeur"></a>
    </div>
</nav>

