<section id="section2" class="section-images">
            
        {% for image in data.imageGallery %}
            
                <img class="wrapperImages__item" src="{{ image }}" alt="Image">
            
        {% endfor %}
    
</section>