<section id="section1" class="section-Projet">
    <div class="titleWrapper">
        <h1>{{ data.nom }}</h1>
        <h2><span>tfe - </span>{{ data.date }}</h2>
    </div>
    <img src="{{ data.image }}" alt="{{ data.nom }}">
</section>