@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "NeueBit";
  src: url("../assets/fonts/PPNeueBit-Regular.woff2") format("woff2"), url("../assets/fonts/PPNeueBit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NeueBit";
  src: url("../assets/fonts/PPNeueBit-Bold.woff2") format("woff2"), url("../assets/fonts/PPNeueBit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Monument";
  src: url("../assets/fonts/PPMonumentExtended-Bold.woff2") format("woff2"), url("../assets/fonts/PPMonumentExtended-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Monument";
  src: url("../assets/fonts/PPMonumentExtended-Light.woff2") format("woff2"), url("../assets/fonts/PPMonumentExtended-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Monument";
  src: url("../assets/fonts/PPMonumentExtended-Regular.woff2") format("woff2"), url("../assets/fonts/PPMonumentExtended-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes translateBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 1920px -1080px;
  }
}
@keyframes pressedButton {
  0% {
    transform: translateY(0);
    box-shadow: 0 52px 0 0 #23144D;
  }
  100% {
    transform: translateY(52px);
    box-shadow: 0 0px 0 0 #23144D;
  }
}
@keyframes fillingSVG {
  0% {
    stroke-dashoffset: -692.4334106445;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fillingScreen {
  0% {
    height: var(--new-height);
    width: var(--new-width);
  }
  100% {
    width: 100%;
    height: 100%;
    top: -32px;
    left: -32px;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.isClick {
  animation: pressedButton 100ms ease-in-out;
}

.fillingSVG {
  animation: fillingSVG 1s cubic-bezier(0.1, 0.68, 1, 0.52) forwards;
}

.fillingScreen {
  animation: fillingScreen 0.4s cubic-bezier(0.14, 1.06, 0.85, 0.74) forwards;
  position: absolute; /* Fixez la position pour qu'elle couvre tout l'écran */
  top: var(--new-top);
  left: var(--new-left);
  height: var(--new-height);
  width: var(--new-width);
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.605);
  border: solid 36px black;
  border-radius: 48px;
  z-index: 1;
}

.opacity {
  animation: opacity 0.3s ease-in-out forwards;
}

html, body {
  font-family: Monument;
  font-size: 21px;
  color: #EBE6EF;
  background-color: #23144D;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: snow;
  text-decoration: none;
}

.sectionWS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sectionWS .wrapperWS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  background-color: #0C0C0C;
  border: solid 36px black;
  border-radius: 48px;
  font-family: NeueBit;
  text-transform: uppercase;
  line-height: 0.7;
  z-index: 2;
}
.sectionWS .wrapperWS__title {
  font-size: 850px;
}
.sectionWS .wrapperWS__subTitle {
  font-size: 400px;
  margin-bottom: 100px;
}
.sectionWS__svg {
  position: absolute;
  transform-origin: 0 100%;
  left: 50%;
  top: 1420px;
  scale: 2.5;
  z-index: 0;
  padding: 15px;
}
.sectionWS__svg path {
  scale: 0.9;
  transform: translateX(10px);
}
.sectionWS__svg:last-of-type path {
  stroke-dasharray: 692.4334106445;
  stroke-dashoffset: -692.4334106445;
}
.sectionWS__button {
  width: calc(70% + 36px);
  color: #EBE6EF;
  font-size: 100px;
  font-family: Monument;
  font-weight: bold;
  background-color: #472F8C;
  box-shadow: 0 52px 0 0 #23144D;
  border: none;
  padding: 32px 0 32px 0;
  margin-top: 200px;
  border-radius: 48px;
  z-index: 2;
}

.sectionLoading {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}
.sectionLoading__svg {
  position: fixed;
  width: 358px;
  height: 358px;
  scale: 2.5;
}
.sectionLoading__svg circle {
  transform: translate(29px, -29px) rotate(-90deg);
  transform-origin: center center;
  stroke-dasharray: 942.096862793;
  stroke-dashoffset: 942.096862793;
}
.sectionLoading__img {
  position: fixed;
  width: auto;
  scale: 2;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/images/patchworkPicto5.png) center center/cover repeat;
  animation: translateBackground 45s linear infinite;
}

.sectionLoading {
  display: none;
}

.section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sectionProjet__title {
  margin: 24px 0 24px 32px;
  font-size: 4rem;
}
.sectionProjet__wrapper {
  width: 100%;
  height: calc(100% - 150px);
  overflow-y: scroll;
}
.sectionProjet__wrapper::-webkit-scrollbar {
  width: 0px;
}
.sectionProjet__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: calc(100% - 64px);
  padding: 0 32px 32px 32px;
  overflow: hidden;
}
.sectionProjet__grid a {
  min-height: 350px;
  border-radius: 32px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  opacity: 0; /* Opacité par défaut à 1 */
  transition: opacity 0.3s;
}
.sectionProjet__grid a.active {
  opacity: 1;
}
.sectionProjet__grid a p {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0));
  width: 100%;
  padding: 150px 21px 25px 0;
  margin: 0;
  font-weight: 700;
}
.sectionProjet__grid a img {
  max-width: 35px;
  max-height: 35px;
  height: auto;
  margin-left: 16px;
  transform: translateY(8px);
}
.sectionProjet .sectionProjet__filterBar a.active {
  margin: 0 16px; /* Marges latérales lorsque le lien est actif */
  z-index: 2;
  border-radius: 8px;
}
.sectionProjet .sectionProjet__filterBar a:first-of-type.active {
  margin: 0 16px 0 0; /* Marges latérales lorsque le lien est actif */
  z-index: 2;
  border-radius: 8px;
}
.sectionProjet .sectionProjet__filterBar a:last-of-type.active {
  margin: 0 0 0 16px; /* Marges latérales lorsque le lien est actif */
  z-index: 2;
  border-radius: 8px;
}
.sectionProjet__filterBar {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-radius: 12px;
  border: 1px solid rgba(170, 170, 170, 0);
  background: rgba(34, 34, 34, 0.6);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  font-family: "Syne";
  text-transform: uppercase;
  padding: 0 16px 0 16px;
}
.sectionProjet__filterBar a {
  padding: 0 16px;
  text-align: center;
  height: calc(100% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F1F1F;
  color: white;
  text-decoration: none;
  transition: border-radius, margin 0.3s ease;
  z-index: 1;
}
.sectionProjet__filterBar a p::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  transform: translateY(4px);
  height: 24px;
}
.sectionProjet__filterBar a[data-option="Option 1"] p::before {
  background: url(../assets/images/picto_anim2d.svg);
  aspect-ratio: 11/10;
  background-size: cover;
}
.sectionProjet__filterBar a[data-option="Option 2"] p::before {
  background: url(../assets/images/picto_anim3d.svg);
  aspect-ratio: 25/22.7;
  background-size: cover;
}
.sectionProjet__filterBar a[data-option="Option 3"] p::before {
  background: url(../assets/images/picto_cg.svg);
  aspect-ratio: 23.5/22.7;
  background-size: cover;
}
.sectionProjet__filterBar a[data-option="Option 4"] p::before {
  background: url(../assets/images/picto_dwt.svg);
  aspect-ratio: 26/21.5;
  background-size: cover;
}
.sectionProjet__filterBar a[data-option="Option 5"] p::before {
  background: url(../assets/images/picto_ir.svg);
  aspect-ratio: 26/19.2;
  background-size: cover;
}
.sectionProjet__filterBar a[data-option="Option 6"] p::before {
  background: url(../assets/images/picto_jv.svg);
  aspect-ratio: 101/54.6;
  background-size: cover;
}
.sectionProjet__filterBar a[data-option="Option 7"] p::before {
  background: url(../assets/images/picto_vfx.svg);
  aspect-ratio: 27/13.9;
  background-size: cover;
}

.class1 {
  border-radius: 8px 0 0 8px;
}

.class2 {
  border-radius: 0 8px 8px 0;
}

.class3 {
  border-radius: 8px;
}/*# sourceMappingURL=app.css.map */