$c-bg: #341F71;
$c-bg-l: #472F8C;
$c-bg-d: #23144D;
$c-alt: #0C0C0C ;
$c-text: #EBE6EF;

$size-text: 21px;
$size-text-nav: 18px;

$family-text-bitmap:NeueBit;
$family-text-body:Monument;
$family-text-naav:Syne;
